<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lypro.adsdkpro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADSdkPro">
        <!--
        <activity
            android:name="com.dreamfly.StartActivty"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            &lt;!&ndash;&ndash;&gt;
            <meta-data
                android:name="sdkappid"
                android:value="TBKZJIALK" />
            <meta-data
                android:name="sdkid"
                android:value="sdkBLSGVLMA" />
            <meta-data
                android:name="sdkclass"
                android:value="com.lypro.adsdkpro.MainActivity" />
        </activity>
        -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>